body{
					font-family: Maven Pro;
							font-size: 15px;
							color: #333333;
					}
	p{
					font-family: Maven Pro;
							font-size: 15px;
							color: #333333;
					}
	h1,.h1{
					font-family: Ubuntu;
							font-size: 60px;
							color: #333333;
					}
	h2,.h2{
					font-family: Ubuntu;
							font-size: 30px;
							color: #ffe147;
					}
	h3,.h3{
					font-family: Spectral;
							font-size: 23px;
							color: #333333;
					}
	h4,.h4{
					font-family: Ubuntu;
							font-size: 16px;
							color: #333333;
					}
	h5,.h5{
					font-family: Ubuntu;
									color: #333333;
					}
	h6,.h6{
					font-family: Ubuntu;
							font-size: 14px;
							color: #333333;
					}
	a{
					font-family: Ubuntu;
									color: #333333;
					}




	
	.row img {
    display: block;
    text-align: center;
    margin: 1.4em auto;
}
.widget-cat-image-caption figure {
    position: relative;
}
.widget-cat-image-caption figcaption p {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.widget-cat-image-caption figure h5 {
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 37%;
    right: 14px;
    margin: 0;
    background: #cc171e;
    transform:scale(0);
     -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.widget-cat-image-caption figure h5:before {
    content: '\f067';
    font-family: FontAwesome;
    font-size: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 35%;
    color: #ffffff;
}
.is-overlay .is-overlay-color 
{
background-color: rgba(0, 0, 0, 0);
}



.is-card h5 span {
    width: 52px;
    bottom:0;
    background: red;
    position: absolute;
    top: 0;  
    right: 0;
    
     -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.is-card h5 span:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 7%);
}
.is-card h5 {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #00000036;
    color: red;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 14px;
}
.is-card h5 i {
    padding-left: 10px;
    color: red;
    padding-right: 11px;
}
.is-card {
    position: relative;
}

.element .fa-facebook {
    /* padding: 25px; */
    padding-left: 15px;
    padding-top: 14px;
    padding-right: 16px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    color:#ffffff;
}
.element .fa-youtube-play {
    /* padding: 25px; */
    padding-left: 12px;
    padding-top: 13px;
    padding-right: 16px;
    margin-right: 14px;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    color:#ffffff;
}
.element .fa-google {
    /* padding: 25px; */
    padding-left: 12px;
    padding-top: 13px;
    margin-right: 14px;
    padding-right: 16px;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    color:#ffffff;
}

.element .col-md-6.text-right {
    margin-top: 67px;
}
.element .btn-default:active.focus, .element .btn-default:active:focus, .element .btn-default:active:hover {
    color: transparent;
    background: transparent;
}
.row.customrow {
    margin-top: 50px;
    margin-bottom:60px;
}
.row.customrow p {
    font-size: 14px;
}
.row.widget-cat-cards .is-card {
    display: block;
}
.row img{
   width:100%;
}
ul.nav.navbar-nav li:nth-child(1):before {
    position: absolute;
    width: 64px;
    height: 60px;
   
    right: 146%;
    color: #fff;
    padding-left: 26px;
    padding-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #cc171e;
}
.widget.form_widget.form_widget_3 .form-group:nth-child(1) {
    margin-top: 4px;
}
.form-group.col-sm-12 label {
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 22px;
}
.widget-cat-image-caption figure:hover h5 {
    
   transform: scale(1);
}
.widget-cat-image-caption figure img{

}
.is-upper {
    text-transform: none;
}
.widget-cat-image-caption figure:hover img {
    
}
.is-box-3 .is-boxes,.is-box-6 .is-boxes{
    padding: 20px;
}
.is-box-3 .is-boxes h2,.is-box-6 .is-boxes h2{
	margin-top:5px;
}
.is-card h5:hover span {
    transform: scale(1);
}
.widget-cat-images .col-md-2 img {
    filter: grayscale(100%);
}
.widget-cat-list .fa {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background: #CC171E;
    color: #ffff;
    padding: 13px;
    border-radius: 50%;
    margin-bottom: 17px;
    margin-top: 30px;
}
.submit-btn-query {
    position: relative;
    margin-top: 15px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 143px;
    background: #FF0000;
    min-height: 44px;
}

.submit-btn-query:before {
    content: "";
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 86.25%;
}
a.navbar-brand.logo img {
    margin-top: -12px;
}
a#back-to-top {
    background: #CC171E;
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 86.25%;
}
textarea.form-control{
height: 260px !important;
}
#form_3{
    position: relative;
    float: left;
    padding-right: 60px;
    width: 100%;
}
#form_3 .form-group{
padding-right:0;
position:static;

}
#form_3 .btn-default{
font-size: 28px;
    color: red;
    position: absolute;
    top: 4px;
    right: 0;
    height: 52px;
    width: 80px;
    text-align: right;
    border: 0;
}
#form_3 .form_widget .error { 
    margin: 0;
}
figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform .35s,color .35s;
    transition: top .35s,color .35s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
}
figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: unset;
    transform: unset;
    line-height: 1.5;
}
figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: unset;
    transform: unset;
    font-size: 20px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.nav ul.sub-menu li, .nav ul.sub-menu li a {
    background-color: #11161d !important;
}
.nav ul.sub-menu li a:hover {
    color: rgb(249, 16, 16);
}
#form_3 .btn-default {
    font-size: 28px;
    color: red;
    position: absolute;
    top: 4px;
    right: 0;
    height: 52px;
    width: 80px;
    text-align: right;
    border: 0;
}
.error {
    margin: 0;
    padding-top: 10px;
    color: #FF0000 !important;
    font-size: 14px !important;
}
.footer li.menu-item {
    list-style-type: none;
    display: inline-block;
    margin-right: 8px;
}
#form_3 .btn-default {
        background: #e6e6e6;
}
#form_3 .btn-default:hover {
    background: #efc3c3;
}
figure.effect-sadie h2 {
    color: #fff;
}
.footer li.menu-item a {
    color: #ffffff;
    font-size: 12px;
}
.logo img{
max-width:100px;
}
.col-md-4 .icon{
    transform: rotate(-45deg);
    width: 100px;
    height: 100px;
    border: 1px solid #00ff83;
    line-height: 100px;
	display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
}
.icon::before{
transform: rotate(45deg);
}
.can-slide{
  display: inline-block;
  padding: .3em;
  position: absolute;
  top: 30%;
  left: 50%;
  user-select: none;
  transform: translate(-50%,-50%);
  color: rgba(255,255,255,.68);
  border: .075em solid rgba(255,255,255,.1);
}
.animated-counter .beforetext{
    display: block;
    font-size: 35px;
}

/* responsive check */

.text_widget_12 .display {
    position: relative;
    left: 0px;
    height: 600px
}

.text_widget_12 .url {
    float: left;
    background-color: #cc4e46;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px -2px 5px #333
}

.text_widget_12 form {
    width: 85%;
    margin: 1em auto
}

.text_widget_12 div {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden
}

.text_widget_12 iframe {
    transform: scale(0.219);
    -webkit-transform: scale(0.219);
    -o-transform: scale(0.219);
    -ms-transform: scale(0.219);
    -moz-transform: scale(0.219);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    border-color: #000;
max-width: none;
}

.text_widget_12 .mobile {
    background-image: url("http://ami.responsivedesign.is/images/iphone-optimised.png");
    position: absolute;
    width: 95px;
    height: 196px;
    top: 375px;
    left: 300px;
    z-index: 5
}

.text_widget_12 .mobile iframe {
    width: 320px;
    height: 480px;
    top: 32px;
    left: 11px;
    overflow-y: hidden
}

.text_widget_12 .tablet {
    background-image: url("http://ami.responsivedesign.is/images/ipad-optimised.png");
    width: 246px;
    height: 400px;
    z-index: 4;
    position: absolute;
    left: 120px;
    top: 230px
}

.text_widget_12 .tablet iframe {
    width: 768px;
    height: 1024px;
    top: 35px;
    left: 38px;
    overflow-y: hidden
}

.text_widget_12 .laptop {
    background-image: url("http://ami.responsivedesign.is/images/laptop-screen-optimised.png");
    width: 477px;
    height: 307px;
    top: 264px;
    left: 560px;
    position: absolute;
    z-index: 4;
}

.text_widget_12 .laptop iframe {
    width: 1280px;
    height: 802px;
    top: 26px;
    left: 60px;
    transform: scale(0.277);
    -webkit-transform: scale(0.277);
    -o-transform: scale(0.277);
    -ms-transform: scale(0.277);
    -moz-transform: scale(0.277);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left
}

.text_widget_12 .desktop {
    position: absolute;
    width: 566px;
    height: 538px;
    background-image: url("http://ami.responsivedesign.is/images/large-screen-optimised.png");
    top: 0px;
    left: 220px;
    z-index: 1
}

.text_widget_12 .desktop iframe {
    left: 28px;
    top: 38px;
    width: 1600px;
    height: 992px;
    transform: scale(0.3181);
    -webkit-transform: scale(0.3181);
    -o-transform: scale(0.3181);
    -ms-transform: scale(0.3181);
    -moz-transform: scale(0.3181);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left
}



    .text_widget_12 .display {
        width: 1%;
        height: 450px;
        transform: scale(0.71);
        -webkit-transform: scale(0.71);
        -o-transform: scale(0.71);
        -ms-transform: scale(0.71);
        -moz-transform: scale(0.71)
    }
    .text_widget_12 .desktop {
        left: 180px
    }
    .text_widget_12 .laptop {
        left: 520px
    }
    .text_widget_12 .tablet {
        left: 80px
    }
    .text_widget_12 .mobile {
        left: 260px
    }


@media (max-width: 1200px) {
    .text_widget_12 .display {
        left: -50px
    }
}

@media (max-width: 1000px) {
    .text_widget_12 .display {
        height: 500px;
        transform: scale(0.71);
        -webkit-transform: scale(0.71);
        -o-transform: scale(0.71);
        -ms-transform: scale(0.71);
        -moz-transform: scale(0.71);
        top: -40px
    }
    .text_widget_12 .desktop {
        left: 140px
    }
    .text_widget_12 .laptop {
        left: 480px
    }
    .text_widget_12 .tablet {
        left: 40px
    }
    .text_widget_12 .mobile {
        left: 220px
    }
}

@media (max-width: 850px) {
    .text_widget_12 .display {
        height: 500px;
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
        -o-transform: scale(0.65);
        -ms-transform: scale(0.65);
        -moz-transform: scale(0.65)
    }
    .text_widget_12 .desktop {
        left: 100px
    }
    .text_widget_12 .laptop {
        left: 440px
    }
    .text_widget_12 .tablet {
        left: 0px
    }
    .text_widget_12 .mobile {
        left: 180px
    }
}

@media (max-width: 768px) {
    .text_widget_12 .display {
        height: 450px;
        transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -o-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -moz-transform: scale(0.55)
    }
    
}

@media (max-width: 670px) {
    .text_widget_12 .display {
        height: 400px;
        left: -70px;
        transform: scale(0.45);
        -webkit-transform: scale(0.45);
        -o-transform: scale(0.45);
        -ms-transform: scale(0.45);
        -moz-transform: scale(0.45)
    }
}



@media (max-width: 560px) {
    .text_widget_12 .display {
        height: 270px;
        top: -65px;
        transform: scale(0.37);
        -webkit-transform: scale(0.37);
        -o-transform: scale(0.37);
        -ms-transform: scale(0.37);
        -moz-transform: scale(0.37)
    }
}

@media (max-width: 440px) {
    .text_widget_12 .display {
        left: -17px;
        top: -65px;
        width: 70px;
        transform: scale(0.35);
        -webkit-transform: scale(0.35);
        -o-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -moz-transform: scale(0.35)
    }
}

@media (max-width: 380px) {
    .text_widget_12 .display {
        height: 235px;
        left: -17px;
        top: -65px;
        width: 70px;
        transform: scale(0.27);
        -webkit-transform: scale(0.27);
        -o-transform: scale(0.27);
        -ms-transform: scale(0.27);
        -moz-transform: scale(0.27)
    }
    .text_widget_12 .desktop {
        left: 100px
    }
    .text_widget_12 .laptop {
        left: 515px
    }
    .text_widget_12 .tablet {
        left: 0px
    }
    .text_widget_12 .mobile {
        left: 180px
    }
}
.text_widget_13{
max-width: 500px;
}
.text_widget_13 .form-control{
adding: 20px;
    font-size: 20px;
    height: auto;
    margin-bottom: 10px;
}
.is-wrapper > div.responsivetester{
display:none;
}
.progressbar-text{
    font-family: Ubuntu;    font-size: 28px;
}
.animated-counter .beforetext{
    margin-top: -20px;
    margin-bottom: 10px;
}
.animated-counter .aftertext{
    font-family: Maven Pro;
    font-size: 20px;
    padding-top: 10px;
    display: block;
}
/*BLOG*/
.home-blog{
background-color: #FFF;
box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
padding: 0;
 min-height: 500px;
}
.home-blog .home-blog-meta{
	margin-bottom: 20px;
	margin-top: 20px;
    padding-left: 0;
}
.home-blog .home-blog-meta li{
	display: inline-block;
    font-size: 14px;
    color: #2d65c1;
    margin-right: 10px;
}
.home-blog h3{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;

}
.home-blog img{
margin: 0;
}
.home-blog-content{
padding: 10px 25px;
}
.home-blog-meta li .fa{
margin-right: 7px;
color: #1fde82;
}

	.button_7882008{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#2570ff;background-image:none;color:#ffffff;font-family:Maven Pro;font-size:18px;line-height:16px;letter-spacing:1px;text-transform:uppercase;font-weight:400;padding-left:40px;padding-right:40px;padding-top:15px;padding-bottom:15px;display:inline-block;}.button_7882008:hover{background-color:#f75f5f;background-image:none;color:#ffffff;font-family:Maven Pro;font-size:18px;line-height:16px;letter-spacing:1px;text-transform:uppercase;padding-left:40px;padding-right:40px;padding-top:15px;padding-bottom:15px;}.button_9317347{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-color:#2570ff;background-image:none;color:#000000;font-family:Titillium Web;font-size:16px;line-height:16px;letter-spacing:1px;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px;border-left-width:2px;border-right-width:2px;border-top-width:2px;border-bottom-width:2px;padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;display:inline-block;}.button_9317347:hover{background-color:#f75f5f;background-image:none;color:#000000;font-size:16px;line-height:16px;letter-spacing:1px;padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;}
.navbar-custom{
		background-color:rgba(179,171,175,0);
}

.navbar-toggle{
	background-color:rgba(0,0,0,1);
}
.header3 .slide-toggle span,.header4 .slide-toggle span{
	
}
.navbar-custom .navbar-nav li a{
	background-color:rgba(255,255,255,0);
	color:#2570ff;
}
.navbar-custom .navbar-nav li:hover > a{
	background-color:rgba(255,255,255,0);
	color:#f75f5f;
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a{
	background-color:rgba(255,255,255,0);
	color:#f75f5f;
}
.sticky-wrapper.is-sticky .navbar-custom{
	background-color:rgba(255,255,255,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a{
	color:#2570ff;
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
	color:#f75f5f;
}
.header3 .sliding .sliding-menu,.header4 .sliding .sliding-menu{
	background-color:#eaeaea
}
@media (max-width: 768px){
	.navbar-collapse{
		background-color:rgba(219,25,212,0.54);
	}
}
